.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 25s linear;
  height: 20vmin;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Buy {
  padding:50px;
  margin:20px;
}

#Rent {
  padding:50px;
}

.Buy {
    background-color: #FFFFFF;
    min-height: 100vh;
    text-decoration: white;
}

.Rent {
    background-color: #282c34;
    min-height: 100vh;
}

.navbar-header-buy{
  color:white;
  font-weight:bold;
  font-size:xx-large;
 width:100%;
}

.logo{
  width:42px;
  height:50px;
}

.navbar-right{
  text-align: right;
  font-weight: normal;
  font-size: small;
}